body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* .container {
  height: 535px;
  border-style: outset;
  width: 65%;
  margin: 0 auto;
  overflow-y: auto;
  padding: 3%;
  border-width: 15px;
  margin-top: 10px;
} */
.main-component{
  position: relative;
  display:inline-block;
  margin: 10px;
  
}
.component{
  display:block
}
p{
  display: inline
}
.name-panel{
  position: relative;
  left: 200px;
  top: -65px;
}
#dot:hover{
 background: pink;
}
.checkbox-panel{
  position: relative;
  left: 625px;
  top: -90px
}
/* .main-div{
  display: flex;
  justify-content: 
} */
